<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
  
  
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio distinctio sit alias? Corrupti esse quos quis quod id aperiam debitis vero quaerat repellat quas, accusantium et labore, non natus? Odio voluptatum, eum nesciunt, consequatur, quia minus dicta dolor impedit nihil tempore velit? Sunt facere eligendi, sint veritatis dolore voluptate, necessitatibus nam soluta numquam aperiam deserunt nihil. At magnam aspernatur nemo eius cumque eveniet aperiam provident porro? Inventore odit similique obcaecati ipsa. Esse eum, voluptas quia consectetur aliquam iure tenetur. Minima voluptate molestiae ipsa id, similique error quisquam soluta. Deleniti praesentium sunt, ducimus accusamus dicta aperiam voluptates temporibus accusantium qui? Enim.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio distinctio sit alias? Corrupti esse quos quis quod id aperiam debitis vero quaerat repellat quas, accusantium et labore, non natus? Odio voluptatum, eum nesciunt, consequatur, quia minus dicta dolor impedit nihil tempore velit? Sunt facere eligendi, sint veritatis dolore voluptate, necessitatibus nam soluta numquam aperiam deserunt nihil. At magnam aspernatur nemo eius cumque eveniet aperiam provident porro? Inventore odit similique obcaecati ipsa. Esse eum, voluptas quia consectetur aliquam iure tenetur. Minima voluptate molestiae ipsa id, similique error quisquam soluta. Deleniti praesentium sunt, ducimus accusamus dicta aperiam voluptates temporibus accusantium qui? Enim.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio distinctio sit alias? Corrupti esse quos quis quod id aperiam debitis vero quaerat repellat quas, accusantium et labore, non natus? Odio voluptatum, eum nesciunt, consequatur, quia minus dicta dolor impedit nihil tempore velit? Sunt facere eligendi, sint veritatis dolore voluptate, necessitatibus nam soluta numquam aperiam deserunt nihil. At magnam aspernatur nemo eius cumque eveniet aperiam provident porro? Inventore odit similique obcaecati ipsa. Esse eum, voluptas quia consectetur aliquam iure tenetur. Minima voluptate molestiae ipsa id, similique error quisquam soluta. Deleniti praesentium sunt, ducimus accusamus dicta aperiam voluptates temporibus accusantium qui? Enim.</p>
    </div>
    <%- include('./partials/footer.ejs')%>
    
    
</body>
</html>